/* Import Fonts -  */
@font-face {
    font-family: 'Tutti Frutti';
    src: url(./resources/fonts/TuttiFrutti.otf);
}  
@font-face {
        font-family: 'Gaegu-Regular';
        src: url(./resources/fonts/Gaegu-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

body{
    background-color: #FFFFFB;
    color: #56423B;
}
.wrapper{
    margin: 50px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 265px);
}
.wrapper li{
 background-color: #ECE6DF;
 height: 250px;
 list-style: none;
 border-radius: 5px;
 padding: 15px 20px 20px;
}
.add-box, .icon{
    display: flex;
    align-items: center;
}
.add-box {
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.add-box:hover{
    opacity: 0.5;
    transition: 1s;
}
.add-box .icon{
    flex-direction: column;
    justify-content: center;
    height: 78px;
    width: 78px;
    border-radius: 50%;
    font-size: 40px;
    background-color: #A68074;
    color: #ECE6DF;
}
.add-box p{
color:#56423B;
font-family: 'Tutti Frutti';
font-size: 24px;
margin-top: 20px;

}
.wrapper .note{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.note:hover{
    /*transition: 0.7s;
    width: 105%;
    height: 105%;
    border: solid #A68074;
    z-index: 1;
    cursor: pointer;*/
    transition: 1s;
    opacity: 0.5;
    cursor: pointer; /* add custom pointer later*/
    
}
.note p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'Tutti Frutti';
}
.note span{
    display:block;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Gaegu-Regular';
}

.bottom-content span{
    color: #A68074;
    font-size: 14px;
  
}